<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Products</title>
    <link rel="stylesheet" href="/CSS/add.css">
</head>
<body>

   

    <div class="container">

        <form id="form" action="/add" method="post" enctype="multipart/form-data">

            <Div class="header">
                <h1>Add Product</h1>
            </Div>
            <div class="inputs">

                <span>Product ID:</span>
                <input type="text" placeholder="00-0000" id="User_id" name="pid">
                <span>Product Name:</span>
                <input type="text" placeholder=" abc" id="pid" name="Name">
                <span>Category:</span>
                <select name="Description" id="">
                    <option value="Cat Food">Cat Food</option>
                    <option value="Dog Food">Dog Food</option>
                    <option value="Fist Food">Fist Food</option>
                </select>
               
                <span>Price:</span>
                <input type="number" placeholder="Rs" id="price" name="price">
                <span>Add Picture:</span>
                <input type="file" placeholder="XYZ" id="img" name="img">
            </div>
            <input type="submit" value="submit" name="submit" onclick="enterpic()">
            <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

<script>

    function enterpic()
    {
        if(document.getElementById("img"))
        {
            alert("Please enter an image.");
        }
    }
</script>

</html>