<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
  <link rel="stylesheet" href="/CSS/signin.css">
  <style>
    .animated-text {
         background-image: -webkit-linear-gradient(DarkSalmon 50%, LightYellow 50%);
         background-size: 100% 50px;
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
         -webkit-animation: stripes 2s linear infinite;
         animation: stripes 2s linear infinite;
         font-size: 50px;
       }
       @-webkit-keyframes stripes {
         100% {
           background-position: 0 -50px;
         }
       }
       @keyframes stripes {
         100% {
           background-position: 0 -50px;
         }
       }
 </style>
</head>
<body>
 
    
  <form action="/SignIn" method="post" >

    <div class="container">
      <marquee behavior="scroll" direction="left">
        <span class="animated-text">
          Pets World
      </span>
        </marquee>
      <h1 class="hy">Sign In</h1>
     
      <hr>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <div id="signIn-Role">
        <Span id="role">Login As : </Span>
        <input type='radio' name='role' value='admin' checked><Span id="role1">Admin</Span> 
        <input type='radio' name='role' value='user'><Span id="role1">User</Span> <br>
    </div>
    <br>
      <button type="submit">Login</button>
      <br>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br>
      <br>
      <hr>
      <div class="signup_link">
        Not a member? <a href="/signup">Signup</a>
      </div>
    </div>
  
    
  </form>

</body>
</html>
