<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
  <link rel="stylesheet" href="/CSS/signup.css">
</head>
<style>
  .animated-text {
       background-image: -webkit-linear-gradient(DarkSalmon 50%, LightYellow 50%);
       background-size: 100% 50px;
       -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
       -webkit-animation: stripes 2s linear infinite;
       animation: stripes 2s linear infinite;
       font-size: 50px;
     }
     @-webkit-keyframes stripes {
       100% {
         background-position: 0 -50px;
       }
     }
     @keyframes stripes {
       100% {
         background-position: 0 -50px;
       }
     }
</style>
<body>
  <marquee behavior="scroll" direction="left">
    <span class="animated-text">
      Pets World
  </span>
    </marquee> 
    <hr>
  <form action="/signUp" method="post">


    <div class="container">
      <h1>Sign Up</h1>
      <hr>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" >
      <br>

      <br><label for="email"><b>    Email</b></label>
  
      <input type="email" placeholder="email" name="email" >
      <br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">

   
      <button type="submit">signUP</button>
      <br>

      <br>
      <br>
      <hr>
      <div class="signup_link">
        Not a member? <a href="/signIn">Sign In</a>
      </div>
    </div>


  </form>

</body>

</html>