body{
    background-image: url(/images/pic1.JPG) ;
    background-size:cover;
    display:flex;
    flex-wrap: wrap;

}

header{
  width:100%;
}
.navbar{
     background-image: linear-gradient(to right, #916E34, #915D34, #914C34) !important;
}
